@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  width: 100%;
  padding: 4%;
  font-family: "Jua", sans-serif !important;
  color: black;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top-left-radius: calc(0.3rem -1px);
  border-top-right-radius: calc(0.3rem -1px);
}

.fade {
  opacity: 100% !important;
}

.nav-PC {
  width: 100%;
  background-color: #fcf8f8 !important;
  position: fixed;
  height: 8vh;
  left: 0;
  top: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 12.5%;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 20px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 20px -4px rgba(0, 0, 0, 0.75);
}

.nav__main {
  display: flex;
  align-items: center;
}

.nav__list-link {
  font-size: 1.8rem;
  color: black;
  opacity: 80%;
  text-decoration: none;
}
.nav__list-link:hover {
  color: #e7796b;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 70%;
}

.button {
  color: black;
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
}

.button:visited {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  color: #e7796b;
}

.empty {
  height: 15vh;
}
.section {
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  background-image: url("./images/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  padding-bottom: 5vh;
  margin-bottom: 2vh;
}
.title {
  font-family: "Jua", sans-serif;
  font-size: 3rem;
  line-height: 1.67;
  text-align: center;
  color: white;
  border: none;
  margin: 0 auto;
  padding: 5vh 0 2vh 0;
}

.subtitle {
  font-family: "Jua", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.53;
  text-align: center;
  color: white;
  border: none;
  margin: 0 auto;
  padding: 0px;
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  z-index: 0;
  border-radius: 10px;
  margin: 0 auto;
  padding: 8% 3%;
  background-color: #f6f7fa;
  height: 100%;
  max-height: 100vh;
}

.image-upload-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57%;
  margin: 0 auto;
  position: relative;
  object-fit: contain;
  border: dashed 1.5px #35465d;
  border-radius: 10px;
  background-color: #ffffff;
  height: 30vh;
}
.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  outline: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #949daa;
  border: 1.5px dashed #ffffff;
}
.drag-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
.upload-image {
  width: 20%;
  font-size: 3rem;
  margin: auto;
  padding: 5%;
}
.upload-text {
  font-family: "Jua", sans-serif !important;
  font-size: 1rem;
  line-height: 1.53;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  text-transform: uppercase;
  color: #35465d;
}

.file-upload-content {
  display: none;
  text-align: center;
}
.file-upload-image {
  max-height: 30vh;
}
.image-title-wrap {
  padding: 0 3% 3% 3%;
}

.loading {
  display: none;
}

.text-center {
  font-size: 1.5rem;
}

.result-container {
  display: none;
}

.result-message {
  font-size: 1.67rem;
  color: rgb(0 52 144);
  margin: 4% 0;
}

.result-badPart {
  font-size: 1.5rem;
  color: rgb(0 35 87);
}

.result-content {
  width: 90%;
  font-size: 1rem;
  padding: 4% 0;
  margin: 0 auto;
}

.try-again-btn {
  width: 200px;
  border-radius: 40px;
  cursor: pointer;
  background-color: #35465d;
  border: solid 1.5px #35465d;
}

.try-again-text {
  font-family: "Jua", sans-serif;
  padding: 1% 4%;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.etc {
  background: #f5f5f7;
  padding: 0 12.5%;
  margin-top: 2vh;
}

.youtube {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.adviser {
  font-weight: 700;
  font-size: 1.4rem;
  text-align: right;
}
.youtube-cover {
  display: flex;
  justify-content: flex-end;
}
.youtube-link {
  font-family: "Jua", sans-serif;
  font-size: 1rem;
  line-height: 1.71;
  text-align: center;
  color: #f73737;
  text-decoration: underline;
} /* .youtube-link:hover { font-family: NanumSqaureR; font-size: 1.5rem;
line-height: 1.71; text-align: center; color: #f73737; text-decoration: underline; } */
.youtube-icon {
  width: 6%;
}

h1 {
  margin: 1em 0;
  border-bottom: 1px dashed;
  font-weight: lighter;
}

.loader {
  margin: 0 0;
  height: 10vh;
  width: 20%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  color: #777;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  font-size: 0.85rem;
}

.ad-banner {
  width: 320px;
  margin: 0 auto;
}
/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}

@media (min-width: 576px) {
  .nav__list-link {
    font-size: 1.8rem;
  }
  .button {
    font-size: 1.5rem;
  }
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2.5rem;
  }
  .file-upload {
    width: 94%;
  }
  .image-upload-wrap {
    min-height: 30vh;
  }
  .upload-text {
    font-size: 1.4rem;
  }
  .result-message {
    font-size: 2.5rem;
  }
  .result-badPart {
    font-size: 2rem;
  }
  .result-content {
    font-size: 1.5rem;
    width: 90%;
  }
  .try-again-text {
    font-size: 1.5rem;
  }
  .try-again-btn {
    width: 160px;
  }
  .comment {
    font-size: 1.3rem;
  }
  .adviser {
    font-size: 1.5rem;
  }
  .youtube-icon {
    width: 5%;
  }
  .youtube-link {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 3.5rem;
  }
  .upload-image {
    font-size: 5rem;
  }
  .file-upload {
    max-width: 960px;
    min-height: 70vh;
  }
  .image-upload-wrap {
    min-height: 70vh;
  }
  .upload-text {
    font-size: 2rem;
  }
  .text-center {
    font-size: 2rem;
  }
  .result-message {
    font-size: 3rem;
  }
  .result-badPart {
    font-size: 2.5rem;
  }
  .result-content {
    font-size: 2rem;
    width: 80%;
  }
  .comment {
    font-size: 1.5rem;
  }
  .youtube-icon {
    width: 4%;
  }
  .try-again-text {
    font-size: 2rem;
  }
  .try-again-btn {
    width: 200px;
  }
  .youtube-link {
    font-size: 2rem;
  }
  .adviser {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 4.5rem;
  }
  .file-upload {
    max-width: 1140px;
    min-height: 70vh;
  }
  .image-upload-wrap {
    min-height: 70vh;
  }
  .upload-text {
    font-size: 2.3rem;
  }
  .result-message {
    font-size: 3.5rem;
  }
  .result-badPart {
    font-size: 3rem;
  }
  .result-content {
    font-size: 2.5rem;
    width: 80%;
  }
  .comment {
    font-size: 2rem;
  }
  .try-again-text {
    font-size: 2.5rem;
  }
  .try-again-btn {
    width: 240px;
  }
}
